In [2]:
import pandas as pd
import numpy as np

from scipy.cluster.hierarchy import dendrogram, linkage, fcluster

import matplotlib.pyplot as plt
import seaborn as sns

jtplot.style(figsize=(15, 9))

In [20]:
df = pd.read_csv('../data/bt/gld_gdx_aapl_spy__1H.csv', parse_dates=True, index_col=0, header=[0, 1])
df = df['Close']
df.head()

                                 AAPL        GDX         GLD         SPY
Datetime
2022-10-07 14:30:00-04:00  139.721893  24.440001  157.720001  361.619995
2022-10-07 15:30:00-04:00  140.080002  24.420000  157.919998  362.799988
2022-10-10 09:30:00-04:00  140.050003  24.250000  155.869995  362.489990
2022-10-10 10:30:00-04:00  140.020004  24.195000  155.419998  360.339996
2022-10-10 11:30:00-04:00  139.747498  24.190001  155.265106  359.050110

In [21]:
tickers = df.columns

In [22]:
for col in tickers:
    df[f'{col}_return'] = np.log(df[col] / df[col].shift(1))
    df[f'{col}_direction'] = np.where(df[f'{col}_return'] > 0, 1, 0)

df.dropna(inplace=True)

In [26]:
df[[ticker+'_direction' for ticker in tickers]].head()

,AAPL_direction,GDX_direction,GLD_direction,SPY_direction
Datetime,,,,
2022-10-07 15:30:00-04:00,1,0,1,1
2022-10-10 09:30:00-04:00,0,0,0,0
2022-10-10 10:30:00-04:00,0,0,0,0
2022-10-10 11:30:00-04:00,0,0,0,0
2022-10-10 12:30:00-04:00,1,0,1,0

In [27]:
link = linkage(df, 'ward', 'euclidean')

In [28]:
link[:5]

array([[1.62700000e+03, 1.62800000e+03, 1.02529061e-01, 2.00000000e+00],
       [1.52300000e+03, 1.52500000e+03, 1.18371228e-01, 2.00000000e+00],
       [2.20200000e+03, 2.20500000e+03, 1.55074313e-01, 2.00000000e+00],
       [1.26400000e+03, 1.26600000e+03, 2.01229085e-01, 2.00000000e+00],
       [1.06300000e+03, 1.06400000e+03, 2.01242602e-01, 2.00000000e+00]])

In [30]:
# dn = dendrogram(link)