# Quantitative Momentum

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
import datetime as dt
import math
from scipy.stats import percentileofscore as score

from jupyterthemes import jtplot
jtplot.style(theme='onedork', figsize=(15, 9))

In [3]:
hqm_mom = pd.read_csv('../data/strategy/hqm_momentum.csv', index_col=0)
hqm_mom

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Scores
0,A,140.19,NaN,0.116108,NaN,0.077113,NaN,-0.096407,NaN,0.054350,NaN,NaN
1,AAL,13.10,NaN,-0.310526,NaN,-0.007576,NaN,-0.233021,NaN,-0.062947,NaN,NaN
2,AAP,126.87,NaN,-0.395825,NaN,-0.235751,NaN,-0.139079,NaN,0.075862,NaN,NaN
3,AAPL,165.23,NaN,0.006962,NaN,0.165410,NaN,0.217318,NaN,0.066000,NaN,NaN
4,ABBV,161.18,NaN,0.031554,NaN,0.137103,NaN,0.064338,NaN,0.054745,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,137.10,NaN,0.131085,NaN,0.252303,NaN,0.051945,NaN,0.080804,NaN,NaN
497,ZBH,133.46,NaN,0.068028,NaN,0.212273,NaN,0.087023,NaN,0.075655,NaN,NaN
498,ZBRA,300.46,NaN,-0.236791,NaN,0.148372,NaN,0.023435,NaN,0.040698,NaN,NaN
499,ZION,30.93,NaN,-0.493531,NaN,-0.394247,NaN,-0.387094,NaN,0.033066,NaN,NaN
500,ZTS,174.62,NaN,-0.060161,NaN,0.170988,NaN,0.096888,NaN,0.061713,NaN,NaN

In [6]:
time_periods = [
    'One-Year',
    'Six-Month',
    'Three-Month',
    'One-Month'
]

for row in hqm_mom.index:
    for time_period in time_periods:
        change_col = f'{time_period} Price Return'
        percentile_col = f'{time_period} Return Percentile' 
        hqm_mom.loc[row, percentile_col] = score(hqm_mom[change_col], hqm_mom.loc[row, change_col])/100

hqm_mom

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Scores
0,A,140.19,NaN,0.116108,0.770459,0.077113,0.387226,-0.096407,0.191617,0.054350,0.459082,NaN
1,AAL,13.10,NaN,-0.310526,0.077844,-0.007576,0.193613,-0.233021,0.037924,-0.062947,0.019960,NaN
2,AAP,126.87,NaN,-0.395825,0.045908,-0.235751,0.025948,-0.139079,0.101796,0.075862,0.644711,NaN
3,AAPL,165.23,NaN,0.006962,0.600798,0.165410,0.612774,0.217318,0.960080,0.066000,0.550898,NaN
4,ABBV,161.18,NaN,0.031554,0.642715,0.137103,0.540918,0.064338,0.792415,0.054745,0.467066,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,137.10,NaN,0.131085,0.800399,0.252303,0.788423,0.051945,0.740519,0.080804,0.682635,NaN
497,ZBH,133.46,NaN,0.068028,0.714571,0.212273,0.726547,0.087023,0.850299,0.075655,0.642715,NaN
498,ZBRA,300.46,NaN,-0.236791,0.143713,0.148372,0.568862,0.023435,0.622754,0.040698,0.351297,NaN
499,ZION,30.93,NaN,-0.493531,0.023952,-0.394247,0.009980,-0.387094,0.007984,0.033066,0.289421,NaN
500,ZTS,174.62,NaN,-0.060161,0.441118,0.170988,0.624750,0.096888,0.856287,0.061713,0.520958,NaN

In [7]:
for row in hqm_mom.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_mom.loc[row, f'{time_period} Return Percentile'])
    hqm_mom.loc[row, 'HQM Scores'] = np.mean(momentum_percentiles)
hqm_mom

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Scores
0,A,140.19,NaN,0.116108,0.770459,0.077113,0.387226,-0.096407,0.191617,0.054350,0.459082,0.452096
1,AAL,13.10,NaN,-0.310526,0.077844,-0.007576,0.193613,-0.233021,0.037924,-0.062947,0.019960,0.082335
2,AAP,126.87,NaN,-0.395825,0.045908,-0.235751,0.025948,-0.139079,0.101796,0.075862,0.644711,0.204591
3,AAPL,165.23,NaN,0.006962,0.600798,0.165410,0.612774,0.217318,0.960080,0.066000,0.550898,0.681138
4,ABBV,161.18,NaN,0.031554,0.642715,0.137103,0.540918,0.064338,0.792415,0.054745,0.467066,0.610778
...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,137.10,NaN,0.131085,0.800399,0.252303,0.788423,0.051945,0.740519,0.080804,0.682635,0.752994
497,ZBH,133.46,NaN,0.068028,0.714571,0.212273,0.726547,0.087023,0.850299,0.075655,0.642715,0.733533
498,ZBRA,300.46,NaN,-0.236791,0.143713,0.148372,0.568862,0.023435,0.622754,0.040698,0.351297,0.421657
499,ZION,30.93,NaN,-0.493531,0.023952,-0.394247,0.009980,-0.387094,0.007984,0.033066,0.289421,0.082834
500,ZTS,174.62,NaN,-0.060161,0.441118,0.170988,0.624750,0.096888,0.856287,0.061713,0.520958,0.610778