# The Augmented Dickey-Fuller test

In [17]:
import numpy as np
import pandas as pd

import matplotlib.pylab as plt
import seaborn as sns

from statsmodels.tsa.stattools import adfuller

import yfinance as yf
import datetime as dt
from datetime import timedelta

from jupyterthemes import jtplot
jtplot.style(figsize=(15, 9))

In [2]:
date_start = dt.datetime(2017, 1, 1)
date_end = dt.datetime(2022, 1, 1)

In [22]:
tickers = ['GDX', 'GLD', 'AAPL', 'BAC', 'BK', 'ES=F', '^IXIC']

In [23]:
_1wk = yf.download(tickers, period='max', interval='1wk', auto_adjust=True)
_1d = yf.download(tickers, period='max', interval='1d', auto_adjust=True)
_1h = yf.download(tickers, start=dt.datetime.now()-dt.timedelta(days=730), end=dt.datetime.now(), interval='1h', auto_adjust=True)
_15m = yf.download(tickers, start=dt.datetime.now()-dt.timedelta(days=60), end=dt.datetime.now(), interval='15m', auto_adjust=True)
_5m = yf.download(tickers, start=dt.datetime.now()-dt.timedelta(days=60), end=dt.datetime.now(), interval='5m', auto_adjust=True)
_1m = yf.download(tickers, period='max', interval='1m', auto_adjust=True)

[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  7 of 7 completed

In [24]:
_1wk.shape, _1d.shape, _1h.shape, _15m.shape, _5m.shape, _1m.shape

((2784, 35), (13477, 35), (14975, 35), (4013, 35), (11987, 35), (6840, 35))

In [33]:
_1wk_gdx_gld = _1wk['Close'][['GDX', 'GLD']].dropna()

In [34]:
_1wk_gdx_gld

                  GDX         GLD
Date
2006-05-22  33.339119   65.099998
2006-05-29  33.840721   63.500000
2006-06-05  30.329521   60.450001
2006-06-12  29.897099   57.680000
2006-06-19  31.375963   57.990002
...               ...         ...
2024-05-06  35.250000  218.710007
2024-05-13  36.869999  223.660004
2024-05-20  35.259998  215.919998
2024-05-27  35.299999  215.300003
2024-06-03  33.605000  213.029999

[942 rows x 2 columns]

In [37]:
def show_adf_result(result, header=''):
    print(f'{header}__Results of Dickey-Fuller Test:')
    print(f'ADF Statistic: {result[0]}')
    print(f'p-value: {result[1]}')
    print('Critical Values:')
    for key, value in result[4].items():
        print(f'\t{key}: {value}')
    print('******************************\n')

In [42]:
res = adfuller(_1wk_gdx_gld['GDX'].iloc[:100])
show_adf_result(res, 'GDX')

GDX__Results of Dickey-Fuller Test:
ADF Statistic: 1.2048620701568056
p-value: 0.9960193039024354
Critical Values:
	1%: -3.5078527246648834
	5%: -2.895382030636155
	10%: -2.584823877658872
******************************

In [43]:
res = adfuller(_1wk_gdx_gld['GLD'].iloc[:100])
show_adf_result(res, 'GLD')

GLD__Results of Dickey-Fuller Test:
ADF Statistic: -0.038226893742398245
p-value: 0.9552542443902938
Critical Values:
	1%: -3.4996365338407074
	5%: -2.8918307730370025
	10%: -2.5829283377617176
******************************

In [44]:
res = adfuller(_1wk_gdx_gld['GLD'].iloc[:100]+_1wk_gdx_gld['GDX'].iloc[:100])
show_adf_result(res, 'GLD+GDX')

GLD+GDX__Results of Dickey-Fuller Test:
ADF Statistic: 1.9299616481370443
p-value: 0.9985747277844554
Critical Values:
	1%: -3.5078527246648834
	5%: -2.895382030636155
	10%: -2.584823877658872
******************************