In [7]:
import pandas as pd
import numpy as np

from scipy.stats import ttest_ind

import matplotlib.pyplot as plt
import seaborn as sns

jtplot.style(figsize=(15, 9))

In [2]:
df = pd.read_csv('../data/bt/MSFT_NVDA_AMD_META__1H.csv', parse_dates=True, index_col=0, header=[0, 1])
df.dropna(inplace=True)
df.head()

           Close                                  High                        \
             AMD       META       MSFT      NVDA   AMD       META       MSFT
Date
2012-05-18  6.01  38.115242  23.443840  0.276979  6.29  44.864921  23.876353
2012-05-21  6.30  33.927845  23.828299  0.281794  6.34  36.549951  23.860337
2012-05-22  6.16  30.906942  23.836304  0.278355  6.27  33.489168  23.932417
2012-05-23  6.08  31.903942  23.315693  0.285233  6.08  32.402441  23.547968
2012-05-24  6.02  32.930851  23.283649  0.277667  6.10  33.110311  23.467868

                       Low                                  Open             \
                NVDA   AMD       META       MSFT      NVDA   AMD       META
Date
2012-05-18  0.292112  6.00  37.885933  23.363745  0.275603  6.19  41.923775
2012-05-21  0.283170  6.06  32.900938  23.275642  0.275603  6.10  36.420340
2012-05-22  0.282023  6.08  30.847123  23.628056  0.274227  6.17  32.512110
2012-05-23  0.285692  5.89  31.265864  22.939245  0.271247  5.98  31.275834
2012-05-24  0.287297  5.96  31.674635  23.035355  0.275603  6.09  32.851093

                                   Volume
                 MSFT      NVDA       AMD         META      MSFT       NVDA
Date
2012-05-18  23.860335  0.290736  14979900  573576400.0  56205300  567288000
2012-05-21  23.307681  0.277437  16378200  168192700.0  38787900  416260000
2012-05-22  23.780237  0.281565  12600900  101786600.0  39504900  410140000
2012-05-23  23.507921  0.275374  19700000   73600000.0  65171000  496000000
2012-05-24  23.355735  0.286838   9713100   50237200.0  52575000  520420000

In [3]:
df = df['Close']

In [5]:
for col in df.columns:
    df[f'{col} return'] = np.log(df[col] / df[col].shift(1))

In [22]:
df.dropna(inplace=True)

In [24]:
tickers = ['AMD', 'META', 'MSFT', 'NVDA']
data = [(i+' return', j+' return') for i in tickers for j in tickers if i != j]

for x, y in data:
    stat, pval = ttest_ind(df[x], df[y])
    print(f'{x} {y}: {round(stat, 5)} | {round(pval, 5)}')

AMD return_META return: 0.37594 | 0.70698
AMD return_MSFT return: 0.2726 | 0.78518
AMD return_NVDA return: -0.53594 | 0.59203
META return_AMD return: -0.37594 | 0.70698
META return_MSFT return: -0.18981 | 0.84946
META return_NVDA return: -1.17682 | 0.23933
MSFT return_AMD return: -0.2726 | 0.78518
MSFT return_META return: 0.18981 | 0.84946
MSFT return_NVDA return: -1.16254 | 0.24508
NVDA return_AMD return: 0.53594 | 0.59203
NVDA return_META return: 1.17682 | 0.23933
NVDA return_MSFT return: 1.16254 | 0.24508