In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

## Data

In [2]:
data = pd.read_csv('../../../youtube/algo_trad_ml_quant_strat_freecodecamp/sp500_data.csv',
                   index_col=0, parse_dates=True, header=[0, 1])
data.head()

            Adj Close                                                   \
                    A        AAL       AAPL       ABBV ABNB        ABT
Date
2015-09-29  31.588039  37.361626  24.716064  37.024632  NaN  33.807274
2015-09-30  32.140408  37.027870  24.997087  38.160828  NaN  34.423519
2015-10-01  31.588039  37.380699  24.833916  38.665810  NaN  34.885685
2015-10-02  32.458721  36.837147  25.015219  39.149734  NaN  35.416328
2015-10-05  33.085987  38.324741  25.105864  39.752911  NaN  35.424885

                                                        ...    Volume  \
                 ACGL        ACN       ADBE        ADI  ...      WYNN
Date                                                    ...
2015-09-29  24.416668  84.097511  79.830002  45.767231  ...   6223400
2015-09-30  24.490000  85.542664  82.220001  47.765575  ...   4265300
2015-10-01  24.463333  85.699379  83.750000  46.520844  ...   4745600
2015-10-02  24.780001  86.526428  83.989998  47.155910  ...  15153700
2015-10-05  24.993334  88.467812  85.839996  48.629261  ...  12699700

                                                                           \
                XEL       XOM     XRAY      XYL      YUM      ZBH    ZBRA
Date
2015-09-29  3361700  13754400  1073500  1344100  6018857  2358906  895000
2015-09-30  2722000  18176500  1558100  1708500  7378142  2012723  618800
2015-10-01  2875200  14397800  1378600  1498600  4426718  1604019  464900
2015-10-02  3299500  18811300  1791800  1451100  7719772  1353626  341500
2015-10-05  5369400  18486700  2245000  2376800  5737736  1352081  460600


               ZION      ZTS
Date
2015-09-29  2958200  7328400
2015-09-30  3514200  4954100
2015-10-01  2795500  4131800
2015-10-02  3315700  4036800
2015-10-05  1924800  5467700

[5 rows x 3018 columns]

In [3]:
set(data.columns.get_level_values(0))

{'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'}

In [5]:
len(set(data.columns.get_level_values(1)))

503

In [6]:
data.iloc[0].name, data.iloc[-1].name

(Timestamp('2015-09-29 00:00:00'), Timestamp('2023-09-26 00:00:00'))

In [21]:
sp500_df = pd.read_csv('../data/^GSPC_2015-09-29_2023-09-26_1d.csv', index_col=0, header=[0, 1])
sp500_df = sp500_df.droplevel(level='Ticker', axis=1)
sp500_df.drop(['Dividends', 'Stock Splits'], inplace=True, axis=1)
sp500_df.head()

Price             Close         High          Low         Open      Volume
Date
2015-09-29  1884.089966  1899.479980  1871.910034  1881.900024  4132390000
2015-09-30  1920.030029  1920.530029  1887.140015  1887.140015  4525070000
2015-10-01  1923.819946  1927.209961  1900.699951  1919.650024  3983600000
2015-10-02  1951.359985  1951.359985  1893.699951  1921.770020  4378570000
2015-10-05  1987.050049  1989.170044  1954.329956  1954.329956  4334490000

## Returns

In [22]:
sp500 = pd.DataFrame(sp500_df['Close'])
sp500['return'] = np.log(sp500['Close'] / sp500['Close'].shift(1))
sp500.dropna(axis=0, inplace=True)
sp500.head()

                  Close    return
Date
2015-09-30  1920.030029  0.018896
2015-10-01  1923.819946  0.001972
2015-10-02  1951.359985  0.014214
2015-10-05  1987.050049  0.018125
2015-10-06  1979.920044 -0.003595

In [28]:
tickers = data['Adj Close'].copy()
for col in tickers.columns:
    tickers[f'{col}_return'] = np.log(tickers[col] / tickers[col].shift(1))

tickers.drop(index=tickers.index[0], inplace=True)
tickers.head()

<ipython-input-28-0b44159659c8>:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  tickers[f'{col}_return'] = np.log(tickers[col] / tickers[col].shift(1))

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN_return,XEL_return,XOM_return,XRAY_return,XYL_return,YUM_return,ZBH_return,ZBRA_return,ZION_return,ZTS_return
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-30,32.140408,37.027870,24.997087,38.160828,NaN,34.423519,24.490000,85.542664,82.220001,47.765575,...,-0.001881,0.020255,0.018735,0.000989,0.026528,0.048696,0.001492,0.058366,0.005827,0.037862
2015-10-01,31.588039,37.380699,24.833916,38.665810,NaN,34.885685,24.463333,85.699379,83.750000,46.520844,...,-0.026902,-0.011361,-0.003908,-0.004360,-0.004882,-0.001001,0.000319,0.004041,-0.000363,0.002667
2015-10-02,32.458721,36.837147,25.015219,39.149734,NaN,35.416328,24.780001,86.526428,83.989998,47.155910,...,0.205704,0.009099,0.024278,0.012239,0.024775,0.021429,0.013846,0.024039,-0.007657,0.041045
2015-10-05,33.085987,38.324741,25.105864,39.752911,NaN,35.424885,24.993334,88.467812,85.839996,48.629261,...,0.021339,0.005082,0.012182,0.026142,0.001491,0.017613,0.002411,0.011743,0.019573,-0.003959
2015-10-06,32.674053,36.360359,25.225985,38.630745,NaN,34.141060,24.833332,88.363335,85.150002,48.172020,...,0.044606,-0.013324,0.013963,0.007237,-0.005078,0.004445,-0.015938,-0.019266,0.009645,-0.034666

In [18]:
sp500_df.shape, tickers.shape

((2010, 6), (2012, 1006))

## Visualization