In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
jtplot.style(figsize=(24, 9))

# TWAP. Time-Weighted Average Price

In [25]:
df = pd.read_csv('../../../data/EURUSD_Ticks_19.08.2024-19.08.2024.csv',
                 index_col=0, parse_dates=True)
df.head()

                                      Ask      Bid  AskVolume  BidVolume
Local time
2024-08-19 00:00:00.062000-02:00  1.10275  1.10254        1.8       0.45
2024-08-19 00:00:00.165000-02:00  1.10276  1.10254        1.8       0.45
2024-08-19 00:00:00.218000-02:00  1.10277  1.10251        1.8       0.35
2024-08-19 00:00:00.270000-02:00  1.10277  1.10257        0.9       0.90
2024-08-19 00:00:00.325000-02:00  1.10282  1.10250        0.9       0.45

In [23]:
df.shape

(2474, 5)

In [24]:
N = 100_000

In [26]:
df['Spread'] = df['Ask'] - df['Bid']
df['MidPrice'] = (df['Ask'] + df['Bid']) / 2

df.head()

,Ask,Bid,AskVolume,BidVolume,Spread,MidPrice
Local time,,,,,,
2024-08-19 00:00:00.062000-02:00,1.10275,1.10254,1.8,0.45,0.00021,1.102645
2024-08-19 00:00:00.165000-02:00,1.10276,1.10254,1.8,0.45,0.00022,1.102650
2024-08-19 00:00:00.218000-02:00,1.10277,1.10251,1.8,0.35,0.00026,1.102640
2024-08-19 00:00:00.270000-02:00,1.10277,1.10257,0.9,0.90,0.00020,1.102670
2024-08-19 00:00:00.325000-02:00,1.10282,1.10250,0.9,0.45,0.00032,1.102660