In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
jtplot.style(figsize=(24, 9))

# VWAP. Volume-Weighted Average Price

In [6]:
df = pd.read_csv('../../../data/order_book/BAC.csv',
                 index_col=0, parse_dates=True)
df.head()

                           Bid    Ask   Last  Volume  Type
Time
2023-03-08 15:06:21.582  32.85  32.86  32.85  2101.0  Sell
2023-03-08 15:06:21.582  32.85  32.86  32.85   100.0  Sell
2023-03-08 15:06:21.582  32.85  32.86  32.85   100.0  Sell
2023-03-08 15:06:21.582  32.85  32.86  32.85   100.0  Sell
2023-03-08 15:06:21.582  32.85  32.86  32.85   400.0  Sell

In [8]:
df.shape

(100000, 5)

In [9]:
df['Volume'].is_monotonic_increasing

False

In [10]:
df.dtypes

Bid       float64
Ask       float64
Last      float64
Volume    float64
Type       object
dtype: object

In [17]:
df.index.inferred_type

'datetime64'

In [20]:
df.groupby('Type').count()

            Bid    Ask   Last  Volume
Type
Buy       61655  61655  61655   61655
Buy/Sell     91     91     91      91
Sell      38254  38254  38254   38254